<!-- Section Content -->
<section id="about">
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-lg-6 g-flex-centered g-bg-secondary g-pa-40">
        <div class="text-center">
          <div class="text-uppercase text-center u-heading-v5-3 u-heading-v5-color-primary u-heading-v5-rounded-50x g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-12 g-color-black g-mb-15">Nosotros</h4>
            <h2 class="u-heading-v5__title g-line-height-1_2 g-font-weight-700 g-font-size-32 g-font-size-40--md g-color-black g-bg-white--before g-pb-40">Somos los mejores</h2>
          </div>

          <p class="g-color-black g-mb-15">Aquí encontrarás todas las <strong>delicatessen</strong> que podrás encargar para pasar un rato agradable junto a los tuyos disfrutando de <strong>“Los Deleites de Candela”</strong>.</p>
          <p class="g-color-black mb-0">Tortas, pasteles, pedidos especiales y muchas novedades.  Pastelería de primer nivel con todo el sabor e ingredientes naturales para satisfacer los gustos y paladares más exigentes.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <!-- Carousel v20 -->
        <div class="js-carousel"
              data-infinite="true"
              data-arrows-classes="u-arrow-v1 g-pos-abs g-left-0 g-absolute-centered--y g-width-60 g-height-60 g-color-primary g-bg-white g-opacity-1 g-opacity-0_8--hover g-transition-0_2 g-transition--ease-in"
              data-arrow-left-classes="fa fa-chevron-left g-ml-15"
              data-arrow-right-classes="fa fa-chevron-right g-ml-75">
          <div class="js-slide g-bg-cover g-bg-black-opacity-0_3--after">
            <img class="w-100" src="<%= image_url 'los-deleites-de-candela-ingredientes.jpg' %>" alt="Image description">
            <%# <img class="w-100" src="assets/img-temp/1200x800/img1.jpg" alt="Image description"> %>
          </div>

          <div class="js-slide g-bg-cover g-bg-black-opacity-0_3--after">
            <img class="w-100" src="<%= image_url 'los-deleites-de-candela-preparando.jpg' %>" alt="Image description">
            <%# <img class="w-100" src="assets/img-temp/1200x800/img2.jpg" alt="Image description"> %>
          </div>
        </div>
        <!-- End Carousel v20 -->
      </div>
    </div>
  </div>
</section>
<!-- End Section Content -->