<!-- Section Content -->
<section id="message" class="g-bg-secondary g-color-primary">
  <div class="container text-center ">
    <h2 class="g-font-weight-700 g-font-size-22 g-font-size-32--md">Aprovecha nuestras tortas especiales para Halloween</h2>
  </div>
</section>
<!-- End Section Content -->