  <div class="col-md-6 col-lg-4 g-mb-30">
    <!-- Article -->
    <article class="u-shadow-v19 g-bg-white g-rounded-bottom-4">
      <!-- Figure Image -->
      <figure>
        <img class="w-100" src="<%= image_url photo_name %>" alt="<%= photo_desc %>">
      </figure>
      <!-- End Figure Image -->

      <!-- Article Content -->
      <div class="g-pa-30">
        <h3 class="h4 g-mb-10">
          <a class="g-color-main g-color-primary--hover g-text-underline--none--hover" href="#!"><%= title %></a>
        </h3>

        <div class="g-mb-30">
          <p class="g-color-main"><%= description %></p>
        </div>

        <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-30">

        <footer class="d-flex justify-content-between align-items-center">
          <!-- Figure Button -->
          <div class="d-block">
            <a class="btn btn-md u-btn-primary g-brd-none g-font-weight-600 g-font-size-11 text-uppercase" href="https://m.me/LosDeleitesDeCandela" target="_blank">Reserva ahora!</a>
          </div>
          <!-- End Figure Button -->
        </footer>
      </div>
      <!-- End Article Content -->
    </article>
    <!-- End Article -->
  </div>