<!-- Section Content -->
<section id="services" class="g-py-100 g-bg-secondary g-color-primary">
  <div class="container g-max-width-780 text-center g-mb-60">
    <div class="text-center text-uppercase u-heading-v5-3 u-heading-v5-color-primary u-heading-v5-rounded-50x g-mb-20">
      <h4 class="g-font-weight-700 g-font-size-12 g-mb-15">Servicio</h4>
      <h2 class="u-heading-v5__title g-line-height-1_2 g-font-weight-700 g-font-size-32 g-font-size-40--md g-bg-white--before g-pb-40">Qué Proponemos</h2>
    </div>

    <p class="mb-0">Aquí encontrarás todas las <strong>delicatessen</strong> que podrás encargar para pasar un rato agradable junto a los tuyos disfrutando de <strong>“Los Deleites de Candela”</strong>.</p>
  </div>

  <div class="container text-center">
    <!-- Row -->
    <div class="row">
      <div class="col-md-12 col-lg-4 g-mb-40 g-mb-0--lg">
        <span class="u-icon-v1 u-icon-size--3xl g-mb-15">
          <i class="icon-food-039 u-line-icon-pro"></i>
        </span>
        <h3 class="h6 text-uppercase g-font-weight-600 g-mb-25">
          Los Mejores Ingredientes
        </h3>
        <p class="g-font-size-default mb-0">
          Nuestras tortas estan preparadas solo con los mejores ingredientes, lo que nos permite entregar un producto de alta calidad.
        </p>
      </div>

      <div class="col-md-12 col-lg-4 g-mb-40 g-mb-0--lg">
        <span class="u-icon-v1 u-icon-size--3xl g-mb-15">
          <i class="icon-food-008 u-line-icon-pro"></i>
        </span>
        <h3 class="h6 text-uppercase g-font-weight-600 g-mb-25">
          Personalización
        </h3>
        <p class="g-font-size-default mb-0">
          Podemos fabricar la torta que deseés, mezclando los ingredientes que mas te gusten. O lejegir una de nuestras preparaciones tradicionales.
        </p>
      </div>

      <div class="col-md-12 col-lg-4 g-mb-40 g-mb-0--lg">
        <span class="u-icon-v1 u-icon-size--3xl g-mb-15">
          <i class="icon-food-001 u-line-icon-pro"></i>
        </span>
        <h3 class="h6 text-uppercase g-font-weight-600 g-mb-25">
            Sabor Casero
        </h3>
        <p class="g-font-size-default mb-0">
          Nuestras preparaciones son únicas, de un sabor casero inigualable, debido a la fabricación artesanl de cada una de nuestras tortas. 
        </p>
      </div>
    </div>
    <!-- End Row -->
  </div>
</section>
<!-- End Section Content -->