<div class="ms-slide">
    <img src="<%= image_url 'blank.gif' %>" alt="Cuatro Leches Frutilla"
          data-src="<%= image_url 'los-deleites-de-candela-4-Leches-Frutilla.jpg' %>">

    <div class="ms-layer text-center g-pos-rel"
          data-type="text"
          data-delay="10"
          data-effect="skewleft(50,340)"
          data-ease="easeOutExpo"
          data-duration="2200"
          data-origin="mc"
          data-offset-x="-100"
          data-offset-y="15"
          data-resize="true">
      <h2 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-gold g-mb-10 g-mb-15--md">
        Cuatro Leches Frutilla
      </h2>
      <p class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
        Sabor exclusivo de Candela
      </p>
    </div>

    <div class="ms-thumb">Cuatro Leches Frutilla</div>
  </div>

  <div class="ms-slide">
    <img src="<%= image_url 'blank.gif' %>" alt="Moka Manjar"
          data-src="<%= image_url 'los-deleites-de-candela-Moka-Manjar.png' %>">

    <div class="ms-layer text-center g-pos-rel"
          data-type="text"
          data-delay="10"
          data-effect="skewleft(50,340)"
          data-ease="easeOutExpo"
          data-duration="2200"
          data-origin="mc"
          data-offset-x="-100"
          data-offset-y="15"
          data-resize="true">
      <h2 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-gold g-mb-10 g-mb-15--md">
        Moka Manjar
      </h2>
      <p class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
        Una delicatesen
      </p>
    </div>

    <div class="ms-thumb">Moka Manjar</div>
  </div>