<!-- Footer -->
<footer>
  <div class="container-fluid text-center g-color-gray-dark-v5 g-py-40">
    <a class="d-block g-width-140 mx-auto g-mb-20" href="/">
      <img class="img-fluid" src="<%= image_url 'los-deleites-de-candela-logo.png' %>" alt="Logo">
    </a>

    <p class="mb-0 g-color-primary">
      © 2017 Todos los derechos reservados. Los Deleites de Candela.
    </p>
  </div>
</footer>
<!-- End Footer -->
<a class="js-go-to u-go-to-v1" href="#"
    data-type="fixed"
    data-position='{
      "bottom": 15,
      "right": 15
    }'
    data-offset-top="400"
    data-compensation="#js-header"
    data-show-effect="zoomIn">
  <i class="hs-icon hs-icon-arrow-top"></i>
</a>